<!DOCTYPE html>
<html lang="en">
<head>
    <title>Temukan Restoran Pilihanmu di Findresto</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/d8f6166e99.js" crossorigin="anonymous"></script>
    <meta name="description" content="Temukan Restoran Pilihanmu di Findresto" />
    <meta name="keywords" content="Findresto" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="favicon.png" />
    <link rel="manifest" href="manifest.json" />
</head>
<body>
    <a href="#main-content" class="skip-link">Lihat Daftar</a>
    <!-- Header -->
    <header-nav></header-nav>

    <!-- Hero Element -->
    <hero-element></hero-element>

    <!-- Main -->
    <main id="main-content"></main>

    <!-- Footer -->
    <custom-footer></custom-footer>
</body>
</html>